*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: Arial, Helvetica, sans-serif;

}

body{
    display: flex;
min-height: 100vh;
justify-content: center;
align-items: center;
background-image: url(https://img.freepik.com/premium-photo/colorful-gradient-abstract-background-color-blur-effect-blurred-colors-colored-backdrop-banner-multi-color-soft-smooth-wallpaper_409989-28581.jpg?semt=ais_hybrid&w=740&q=80);
background-repeat: no-repeat;
background-size: cover;




}

.container{
    width: 60%;
display: flex;
justify-content: space-between;
align-items: center;
color: white;

}

.left{

max-width: 45%;

}

.tag{

background-color: black;
padding: 8px 15px;
border-radius: 30px;
margin-bottom: 15px;
display: inline-block;
}

.left h1{

font-size: 50px;
}

.left h1 span{

color: rgb(201, 31, 88);

}


.left p{

margin-top: 10px;
opacity: 0.7;
font-size: x-large;

}

.card{
width:  350px;
background-color: white;
border: 2px solid black;
overflow: hidden;
box-shadow: 0 0 30px rgb(183, 57, 57);
    border-radius: 20px;
    object-fit: cover;
}

.card img{

width: 100%;
height: 220px;
object-fit: cover;
}

.card-content {

padding: 20px;
color: black;
}

.card-content h2{

font-size: 20px;
margin-bottom: 10px;
}

.author{

display: flex;
align-items: center;
padding: 15px 20px;

}


.author img{

width: 50px;
height: 50px;
border-radius: 50%;
border-top: 1px black;
margin-right: 5px;
}

.author h4{

font-size: 14px;
color: gray;
}

.author span{

font-size: 12px;
color: gray;
}



























































